{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2 style="text-align:center;">🔐 Login</h2>

    <form method="POST">

        <!-- Email -->
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <!-- Password -->
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required>

        <!-- Submit Button -->
        <button type="submit" class="btn">Login</button>

    </form>

    <p style="margin-top:15px; text-align:center;">
        Don't have an account?
        <a href="/register">Register here</a>
    </p>
</div>

{% endblock %}